# env & secrets
.env
.env.* 
ops/compose/.env
.docker/
acme.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-error.log*
dist/
build/
services/django/lithium/.postgres-data/
services/django/lithium/.cache/
services/django/lithium/.local/

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Misc
*.tar
*.log
